* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(248, 228, 207);
}

.nav-bars {
    display: flex;
    position: fixed;
    z-index: 100001;
    width: 100%;
    background-color: bisque;
    border-bottom-style: solid;
    border-width: 0.5px;
}

.nav-list {
    display: flex; 
}

.nav-bars a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: black;
    margin-inline: 2em;
    border-radius: 10px;
}

.nav-bars a:hover {
    background-color: rgb(234, 232, 232);
}

.nav-bars>a>img {
    width: 60px;
}

.btns {
    display: none;
}

.dropdown-item {
    width: 70% !important;
}



@media(max-width: 1000px) {
    .btns {
        font-size: 2em;
        padding-inline: 10px;
        padding-bottom: 3px;
        border-style: none;
        border-radius: 10px;
        cursor: pointer;
        display: block;
    }
    .nav-list {
        display: none;
    }
    .drop:hover .nav-list {
        display: block;
        position: absolute;
        right: 1px;
        background-color: rgb(209, 207, 207);
    }
    .nav-bars {
        justify-content: space-between;
    }
    .nav-bars a {
        margin-inline: 0;
    }
}
